@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

html {
  line-height: 1.25;
  body {
    font-family: "Racing Sans One", cursive;
  }
}

a {
  font-weight: 600;
  text-decoration: none;
}

h2 {
  font-size: $size3;
  color: $white;
  @media (max-width: $layout-breakpoint-small) {
    font-size: $size4;
  }
}
