// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$white: #fff;
$black: #24242a;
$red: #f94144;
$lightRed: #E4C9BA;
$orange: #f3722c;
$yellow: #f9c74f;
$turquoise: #4d908e;
$blue: #277da1;
$green: #90be6d;
$grey: #999c955b;
$borderRadius: 20px;
$size1: 16px;
$size2: 20px;
$size3: 24px;
$size4: 36px;
$size5: 72px;
