.header {
  &__list {
    display: flex;
    justify-content: space-between;
    &-item {
      display: grid;
      place-items: center;
    }
    .hamburger-menu {
      display: grid;
      place-items: center;
      @media (min-width: $layout-breakpoint-small) {
        display: none;
      }
      button {
        border: none;
        outline: none;
        width: 60px;
        height: 60px;
        z-index: 100;
        background: none;
        cursor: pointer;
        span {
          width: 40px;
          height: 8px;
          display: block;
          border-radius: $borderRadius;
          margin: 8px;
        }
      }
    }
  }
}

header {
  width: 100%;
  border-bottom: 3px solid $black;
}

